.details{
    &-title{
        color: #34B2E8;
        text-decoration: underline;
        margin-bottom: 20px;
    }
    &-date{
        color: #9d9d9f;
    }
    &-body{
        font-size: 20px;
        color: #434345;
    }
}
