.card{
    &-body{
        word-break: break-all;
    }
    &.cardPost{
        border-radius: 40px 0;
        overflow: hidden;
        padding: 15px;
        .card-header,
        .card-footer{
            background-color: #fff;
        }
    }
    &-moreInfo{
        display: flex;
        align-items: center;
        padding: 0 15px;
    }
}
