<div class="row">
  <div class="col-12 mb-4 d-flex">
    <button class="btn btn-primary ml-auto px-4" (click)="addEditPost()">
      <i class="fa fa-plus mr-2"></i>
      Add</button>
  </div>
  <div class="col-12 mb-4 d-flex justify-content-center" *ngIf="!this.postItems.length">
    <div class="alert alert-info w-100 text-center">
      <p class="mb-0"> <i class="fa fa-info-circle"></i>
        Not Found posts !
      </p>
  </div>
  
  </div>
  <div class="col-xl-4  col-md-6 mb-4" *ngFor="let post of postItems; let i =index;">
    <div class="card cardPost">
      <div class="card-header">
        <h5>{{post?.title | truncate:25}}</h5>
      </div>
      <div class="card-body pb-0">
        <p>{{post?.body | truncate:50}}
          <a class="text-underline ml-2" [routerLink]="['/post/details',post?.id]"
            (click)="readMore(post?.id , post)">Read more</a></p>
      </div>
      <div class="card-moreInfo my-2">
        <label class="text-info"><i class="fa fa-calendar-day mr-2"></i>{{post?.date | date:'shortDate'}}</label>
        <div class="ml-3">
          <label *ngIf="post?.isRead">
            Status : <span class="text-success"><i class="mr-2 fa fa-check"></i>
              Read
            </span>
          </label>
          <label *ngIf="!post?.isRead">
            Status : <span class="text-danger"><i class="mr-2 fa fa-times"></i>
              Read
            </span>
          </label>
        </div>
      </div>
      <div class="card-footer text-right">
        <a class="text-success mr-4" (click)="addEditPost(post,i)"><i class="fa fa-edit mr-1"></i>edit</a>
        <a class="text-danger" (click)="deletePost(post?.id,i)"><i class="fa fa-trash mr-1"></i>delete</a>
      </div>
    </div>
  </div>
</div>
