/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';

@import '~@fortawesome/fontawesome-free/css/all.min.css';

/* You can add global styles to this file, and also import other style files */
html,body{
    height: 100%;
}
p{
    margin:0;
}
body{
    background: url(./assets/images/body-bg.jpg) center no-repeat;
}
.wrapper{
    background: #fff;
    padding: 30px;
    box-shadow: 0 2px 6px 0 rgb(185 178 178 / 20%);
    min-height: 400px;
}
a{
    color: #34b2e7 !important;
    cursor: pointer;
}
.text-underline{
    text-decoration: underline !important;
}
form{
    .form-control-feedback{
        margin: 5px 0;
        color: #dc3545;
    }
  

    &.has-danger{
        .form-control.ng-touched.ng-invalid{
         border-color: #dc3545;
     }   
    }
    &.has-success{
        .form-control.ng-touched.ng-valid{
            border-color: #28a745;
        }    
    }
}


